body{  
    background-image: url("/img/basicimage.jpg");
    height: 100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}  
h1{
    color:blueviolet;
}

a{
    font-size: large;
    color:darkviolet;
}
.basic{
    text-align: center;
}
