body{  
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXUjJePre4r8q9bqZ0zbriWJnRXsVibCNM_g&usqp=CAU");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}  
h1{
    color:black

}
p{
    color:black
}
table{  
    border-collapse: collapse;  
    width: 50%;   
}  
th,td{  
    border: 2px solid green;   
    padding: 10px;  
} 
h3{
    color:dodgerblue
}