body{  
    background-image: url("/img/BackGround_Image.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}  
h1{
    color:black;

}
a{
    font-size: large;
    color:darkblue
}
h3{
    color:dodgerblue;
}
p{
    color:black;
}
b{
    color: dodgerblue;
}
table{  
    border-collapse: collapse;  
    width: 50%;   
}  
th,td{  
    border: 2px solid green;   
    padding: 10px;  
} 